/* Style the header */
.headeraa {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .columnaa {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.sideaa {
    width: 25%;
  }
  
  /* Middle column */
  .column.middleaa {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .rowaa:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footeraa {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }